@keyframes Fade {
    from {
        opacity: 0;
        transform: translateY(10px);

    }
    to {
        opacity: 0.9;
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .main {
        font-size: 6dvh;
    }
    .phrase {
        font-size: 3dvh;
    }

}

@media screen and (min-width: 200px) {
    .main {
        font-size: 3dvh;
    }
    
}


.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 40%;

    background-color: 
    #008CFF;
    box-shadow: 2px 4px 9px #008CFF;
    color: white;

    box-sizing: border-box;
    padding: 5%;
}

.intrepidFrogLogo {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: auto;

    cursor: pointer;
}

.title {
    font-size: 0.5em;
}

.phrase {
    display: flex;
    flex-direction: column;


    box-sizing: border-box;
    font-family: 'MonaSans-Light';
}
.phrase > h2:nth-child(odd) {
    text-align: right;
    
    color: white;
    animation: Fade 3s ease forwards;
    cursor: pointer;
}

.phrase > h2:nth-child(odd):hover {
    text-shadow: 1px 1px 9px white;
}

.phrase > h2:nth-child(even) {
    text-align: left;
    cursor: pointer;

    animation: Fade 5s ease forwards;

}

.phrase > h2:nth-child(even):hover {
    text-shadow: 1px 1px 9px white;
}

.link {
    height: 10%;
    width: 10%;
}

.github {
    position: relative;
    height: 100%;
    width: 100%;

    bottom: 0px;

    cursor: pointer;
}



