@keyframes Fade {
    from {
        opacity: 0%;

    }
    to {
        opacity: 90%;
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 768px) {
    .main {
        font-size: 16px;
    }
    .phrase {
        font-size: 12px;
    }

}

/* Para móviles */
@media screen and (max-width: 480px) {
    .main {
        font-size: 14px;
    }

    .phrase {
        flex-wrap: wrap;
        font-size: 10px;
    }
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 40%;

    background-color: 
    #008CFF;
    box-shadow: 2px 4px 9px #faedcd;
    color: white;

    box-sizing: border-box;
    padding: 5%;
}

.title {
    font-size: 0.5em;
}

.phrase {
    display: flex;
    flex-direction: column;


    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'MonaSans-Light';
}
.phrase > h2:nth-child(odd) {
    text-align: right;
    
    color: white;
    animation: Fade 4s ease forwards;
    cursor: pointer;
}

.phrase > h2:nth-child(even) {
    text-align: left;
    cursor: pointer;

    animation: Fade 6s ease forwards;

}

.phrase > h2:nth-child(even):hover {
    text-shadow: 1px 1px 9px white;
}



