@keyframes Fade {
    from {
        opacity: 0%;

    }
    to {
        opacity: 90%;
        transform: translateY(-20px);
    }
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 40%;

    background-color: #f6e2a6;

    box-sizing: border-box;
    padding: 5%;
}

.main > div {
    box-sizing: border-box;
    font-size: 0.7rem;
    animation: Fade 2s linear forwards;
}



