@font-face {
    font-family: 'ExtraBold';
    src: url('../public/fonts/MonaSans/MonaSans-ExtraBold.woff2');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'MonaSans-Light';
    src: url('../public/fonts/MonaSans/MonaSans-Light.woff2');
    font-weight: 200;
    font-stretch: 90;
    font-width: 90;
}

@font-face {
    font-family: 'MonaSans-Regular';
    src: url('../public/fonts/MonaSans/MonaSans-Regular.woff2');
    font-weight: 200;
    font-stretch: 90;
    font-width: 90;
}





