@media screen and (min-width: 768px) {
    .main {
        font-size: 6dvh;
    }

    .phrase {
        font-size: 3dvh;
    }

}

@media screen and (min-width: 200px) {
    .main {
        font-size: 3dvh;
    }

}

@keyframes FadeIn {
    from {
        opacity: 0;
        background-color: white;
    }

    to {
        opacity: 1;
        background-color: whitesmoke;
    }
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100dvh;
    width: 100dvw;

    margin: -8px;
}